
body{
    min-height: 100vh;
    background-color: rgb(53, 53, 53);

}

.sphere-container{
    width: 100%;
    height: 100%; 
    transform-style: preserve-3d;  overflow: hidden; 
} 
.sphere{
    width: 100%; height: 100%; position:absolute;  top: 5%;
    left:5%;
    transform-style:preserve-3d;  animation: rotate 10s linear infinite;
}
.rings{
    width:22vw; height: 22vw; position:absolute; 
    border-radius: 50%;  border:3px solid white; 
    top:30%;
    left:35%; transform-style: preserve-3d; 
    animation: blink 10s infinite;
}

/* .center{
    width:10vw; height:8vw; border-radius: 50%;
    background-color: aqua;
} */
.ring1{
    transform: rotateZ(30px);}
.ring2{
    transform: rotateX(40deg);
}
.ring3{
    transform: rotateX(40deg);
}
.ring4{
    transform: rotateY(100deg);
}
.ring5{
    transform: rotateY(20deg);
}
.ring6{
    transform: rotateZ(10deg);
}
@keyframes rotate{
    0%{
        transform: rotateX(-30deg) rotateY(-30deg) rotateZ(-30deg);

    }
    100%{
        transform: rotateX(-360deg) rotateY(-360deg) rotateZ(-360deg);

    }
}

@keyframes blink{
    0%{
        border: 3px solid rgb(107, 107, 254);
    }
    20%{
        border: 3px solid rgb(107, 107, 254);
    }
    45%{
        border:3px solid seagreen;
    }
    65%{
        border:3px solid rgb(91, 177, 242);
    }
    85%{
        border: 3px solid rgba(190, 243, 140, 0.573);
    }
    100%{
        border: 3px solid rgba(15, 138, 254, 0.573);
    }
}